body {
    font: 100%/1.5 Arial, Helvetica;
    width: 100%;
    min-width: 480px;
}

header {
    width: 1140px;
    color: #fff;
    padding-bottom: 76px;
    margin: auto;
}

footer {
    width: 100%;
    background-color: #3a3d42;
    color: #eef2f7;
}

.wrapper {
    margin: 0 auto;
}

.header-wrapper {
    background: repeat url("../img/header_bg.jpg") center !important;
    z-index: 1;
    position: relative;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.logo p {
    font: normal 12px/40px helveticaneuecyrroman;
    color: #c8c8c8;
    font-family: inherit;
}

.logo {
    float: left;
    width: 195px;
    background: #fff;
    text-align: center;
    height: 40px;
}

.search-pro {
    font: bold 13px/20px Helvetica Neue;
    color: #dce2ec;
    float: left;
    margin: 11px 0 0 55px;
}

.experts-qa {
    font: normal 12px/20px Helvetica Neue;
    color: #dce2ec;
    float: left;
    margin: 11px 0 0 50px;
}

.search-pro:before {
    content: "";
    float: left;
    position: relative;
    display: block;
    background: url(../img/Sprite.png) -160px -68px no-repeat;
    width: 11px;
    height: 11px;
    top: 4px;
    left: -10px;
}

.experts-qa:before {
    content: "";
    float: left;
    position: relative;
    display: block;
    background: url(../img/Sprite.png) -160px -52px no-repeat;
    width: 14px;
    height: 14px;
    top: 3px;
    left: -8px;
}

.icon-inner-txt {
    font: normal 13px Helvetica Neue;
    color: #dce2ec;
    padding: 0px 0 0 34px;
}

.become-pro {
    position: relative;
    width: 130px;
    height: 37px;
    line-height: 37px;
}

.icon-inner-txt:before {
    content: "";
    display: block;
    position: absolute;
    background: url(../img/Sprite.png) -164px -135px no-repeat;
    width: 11px;
    height: 13px;
    top: 13px;
    left: 13px;
}

.bell {
    position: relative;
    width: 66px;
    height: 37px;
}

.bell:before {
    content: "";
    display: block;
    position: absolute;
    background: url(../img/Sprite.png) -160px -34px no-repeat;
    width: 15px;
    height: 16px;
    top: 10px;
    left: 13px;
}

.drop-icon-text {
    position: absolute;
    margin: 12px 1px 0 40px;
    color: #dce2ec;
    font: normal 10px Montserrat, sans-serif;
}

.drop-icon-text:before {
    content: "";
    float: left;
    display: block;
    background: url(../img/Sprite.png) -100px -215px no-repeat;
    width: 22px;
    height: 18px;
    position: absolute;
    z-index: -1;
    left: -9px;
    top: -2px;
}

.face-icon {
    background: url(../img/Sprite.png) -116px -37px no-repeat;
    width: 39px;
    height: 39px;
}

.header-icon {
    float: right;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background-color: #292b2e;
    margin: 0 10px 0 0;
    z-index: 0;
}

.triangle-icon {
    float: right;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid #4a87f8;
    margin: 18px 13px 0 0;
}

.top-icons {
    width: 100%;
    border-bottom: 1px solid #232326;
    margin: 18px auto 0 auto;
    padding-bottom: 18px;
}

.header-navigation {
    list-style-type: none;
    display: flex;
    margin: 9px 0px 0 -8px;
    font: normal 12px/18px Helvetica Neue;
    color: #a7a7a7;
}

.header-navigation-div {
    width: 100%;
    border-bottom: 1px solid #232326;
    margin: 0 auto;
    padding-bottom: 9px;
}

.header-bio-div {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 9px;
}

.header-navigation-item:first-child:before {
    content: " ";
    color: #929292;
}

.header-navigation-item {
    padding: 0 0 0 8px;
}

a {
    color: #929292;
    text-decoration: none;
}

.header-navigation-item a:hover {
    color: #BBB;
}

.header-navigation-item:first-child:before {
    content: " ";
    color: #929292;
}

.header-navigation-item:before {
    content: "/ ";
    color: #929292;
}

.image-wrap {
    float: left;
    margin: 30px 0 0 0;
}

.avatar-box {
    overflow: hidden;
    border-radius: 50% 50%;
}

.avatar {
    width: 100%;
}

.name {
    float: left;
    margin: 53px 0px 0 31px;
}

.name h3 {
    font: bold 24px/24px Helvetica Neue;
    padding: 0 0 16px 0px;
    position: relative;
}

.name h3:before {
    content: "";
    display: block;
    position: absolute;
    background: url(../img/Sprite.png) -27px -218px no-repeat;
    width: 13px;
    height: 13px;
    top: 8px;
    left: 178px;
}

.name p {
    font: normal 13px/20px Helvetica Neue;
    padding: 0px 0 0 19px;
    position: relative;
}

.name h3:before {
    content: "";
    display: block;
    position: absolute;
    background: url(../img/Sprite.png) -27px -218px no-repeat;
    width: 13px;
    height: 13px;
    top: 8px;
    left: 178px;
}

.name p:before {
    content: "";
    display: block;
    position: absolute;
    background: url(../img/Sprite.png) -164px -150px no-repeat;
    width: 10px;
    height: 13px;
    top: 3px;
    left: 1px;
}

.rate-block {
    float: left;
    margin: 59px 0 0 118px;
}

UNUSED#reviewStars-input input:checked ~ label,
#reviewStars-input label,
#reviewStars-input label:hover,
#reviewStars-input label:hover ~ label {
    background: url('../img/spritesheet.png') no-repeat;
    display: block;
}

#reviewStars-input {
    overflow: hidden;
    position: relative;
    float: left;
}

#reviewStars-input input {
    opacity: 0;
    position: absolute;
}

#reviewStars-input input:checked ~ label {
    width: 18px;
    height: 16px;
    background-position: -5px -6px;
}

#reviewStars-input label {
    background-position: -33px -5px;
    width: 18px;
    height: 16px;
    float: right;
    cursor: pointer;
    margin-right: 3px;
    position: relative;
    z-index: 1;
}

#reviewStars-input label:hover,
#reviewStars-input label:hover ~ label {
    width: 18px;
    height: 16px;
    background-position: -5px -6px;
}

.reviews-counter {
    float: left;
    text-decoration: underline;
    font: 12px Helvetica Neue;
    color: #fff;
    margin: 3px 0 0 15px;
}

.registration-date {
    margin: 36px 0 0 0;
    font: 13px Helvetica;
    color: #fff;
}

nav {
    width: 1140px;
    margin: -36px auto 0 auto;
    position: relative;
    z-index: 2;
}

.navigation-list {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 1140px;
    background-color: #fff;
}

.navigation-item {
    float: left;
    width: 375px;
    border-left: 1px solid #eee;
    border-bottom: 3px solid #f1f1f1;
}

.navigation-item:active {
    -webkit-box-shadow: inset 0px 0px 5px 2px #4a86f8 !important;
    box-shadow: inset 0px 0px 5px 2px #4a86f8 !important;
    color: #929292;
    border-left: none;
}

.navigation-item a {
    display: block;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: bold;
    color: #353535;
}

.navigation-item a:hover {
    -moz-box-shadow: inset 0px -3px 0px 0px #4a87f8;
    -webkit-box-shadow: inset 0px -3px 0px 0px #4a87f8;
    box-shadow: inset 0px -3px 0px 0px #4a87f8;
    color: #929292;
}

.active-nav-item {
    position: relative;
    background: #4a86f8;
    border-left: 0px;
}

.active-nav-item a:hover {
    color: #fff;
}

.active-nav-item a {
    color: #fff;
    box-shadow: none;
    border: none;
}

.active-nav-item:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(74, 134, 248, 0);
    border-top-color: #4a86f8;
    border-width: 6px;
    margin-left: -6px;
}

.wrapper-big_block {
    background: url("../img/background.jpg");
    width: 100%;
}

.big_block {
    width: 1140px;
    padding-bottom: 15px;
    margin: 0 auto;
}

.client_stat {
    position: relative;
    float: left;
    margin: 27px 44px 0 28px;
    font-family: Helvetica Neue;
    font-size: 16px;
    color: #4a86f8;
}

.client_stat:before {
    content: "";
    float: left;
    display: block;
    background: url(../img/Sprite.png) -156px -182px no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 3px;
    left: -29px;
}

.client_stat:after {
    content: " ";
    border: solid transparent;
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #f6f6f6;
    border-width: 21px;
    top: 8px;
    left: 15px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.footer-wrapper {
    width: 1138px;
    margin: 0 auto;
    margin-top: 36px;
}

.first-coloumn-footer {
    padding-bottom: 24px;
    border-bottom: 1px solid #45484c;
}

.left-footer-block {
    float: left;
}

.footer-logo {
    background: url(../img/Sprite.png) -2px -0px no-repeat;
    height: 32px;
    width: 175px;
}

.copyright-info {
    font-family: 'GothamPro-Medium';
    font-size: 10px;
    color: #9e9e9e;
    margin-top: 14px;
    letter-spacing: 0.015em;
}

.soc li {
    display: inline-block;
    zoom: 1;
    margin: 2px 3px 0 0;
}

.soc {
    margin: 22px 0 0 0;
}

.soc li a {
    display: block;
    width: 26px;
    height: 26px;
}

.soc:nth-child(3) li a {
    width: 24px;
    height: 24px;
}

.soc:nth-child(3) li a:hover {
    box-shadow: none;
}

.soc li a:hover {
    border-radius: 50% 50%;
    box-shadow: inset 0 0 0 2px #8EC4E6, 0 0 1px rgba(0, 0, 0, 0);
}

.tweet {
    background: url(../img/Sprite.png) -106px -163px no-repeat;
}

.facebook {
    background: url(../img/Sprite.png) -152px -207px no-repeat;
}

.google {
    background: url(../img/Sprite.png) -76px -215px no-repeat;
}

.pinterest {
    background: url(../img/Sprite.png) -81px -163px no-repeat;
}

.soundcloud {
    background: url(../img/Sprite.png) -88px -56px no-repeat;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.central-footer-block {
    float: left;
    margin-left: 183px;
}

.footer-info-list {
    list-style-type: none;
    float: left;
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-weight: bold;
    color: #eef2f7;
    margin: 0 44px 0 0;
    padding: 0;
    width: 130px;
}

.footer-info-list h4 {
    color: #a7adb4;
    margin: 5px 0 22px 0;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-info-list li {
    margin-bottom: 12px;
}

.right-footer-block {
    margin: 3px 0px 0px 99px;
    float: left;
}

.right-footer-header {
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: bold;
    color: #a7adb4;
    margin: 0 0 21px 0;
}

.footer-btn {
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    background: #4a86f8;
    padding: 10px 35px 10px 35px;
    text-decoration: none;
    margin-left: 11px;
}

.footer-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.bottom-list {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 26px 0px 0 2px;
}

.bottom-list-item {
    float: left;
    font-size: 11px;
    color: #8e8e8e;
    margin: 0px 32px 0 0;
}

.bottom-list-item a:hover {
    text-decoration: underline;
}

.footer-info-list a {
    color: #eef2f7;
}

.footer-info-list a:hover {
    text-decoration: underline;
}

.sorting-box p {
    float: left;
    margin: 0;
    margin: 0 10px 0 0px;
}

.sorting-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: relative;
}

.filtering-link {
    float: left;
    border-bottom: 1px dotted #999;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.filtering-link:active {
    color: blue;
}

.filtering-link .triangle-icon {
    border-width: 6px 5px 0 5px;
    margin: 9px 0 0 6px;
}

.sorting-box {
    float: left;
    margin: 28px 30px 0px 0px;
    padding: 0 0 0 33px;
    border-left: 1px solid #e5e5e5;
    font-size: 16px;
    color: #353535;
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.sorting-box .dropdawn-menu {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdawn-menu {
    display: block;
    z-index: 1000;
}

li.dropdawn-menu-item {
    min-width: 100px;
    background-color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    text-decoration: underline;
    color: #4a86f8;
}

li.dropdawn-menu-item:hover {
    color: #0058FF;
}

.dropdown-link {
    color: #4a86f8;
}

.foggy {
    opacity: 0.5;
    margin-top: 10px;
}


/*/////////////////////////////////// CONTENT STYLE`s///////////////////////////////////////////////////////////////////////////////////*/

.content-wrapper {
    position: relative;
    background: #f6f6f6;
}

.comment-block-container {
    width: 1140px;
    margin: 0 auto;
}

.arrow {
    margin: -13px 0 0 178px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 19px 13px 19px;
    border-color: transparent transparent #f6f6f6 transparent;
}

.comment-block1 {
    margin: 35px 0 0 0;
}

.comment-block2 {
    margin: 21px 0 0 0;
}

.comment-block3 {
    margin: 17px 0 27px 0;
}

.com1 {
    border-radius: 3px 3px 0 0;
    background: #ffffff;
}

.dots {
    margin: 15px 0 0 46px;
    float: left;
}

.com2 {
    border-radius: 3px;
    margin-left: 120px;
    margin-top: 23px;
    background: #ffffff;
}

.Gomez-comment {
    padding: 13px 38px 10px 18px;
    font-family: HelveticaNeue;
    font-size: 15px;
    font-style: italic;
}

.Space-Gomez {
    position: relative;
    padding: 32px 0 24px 70px;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 12px;
}

.Space-Gomez:before {
    content: "";
    position: absolute;
    display: block;
    background: url(../img/Sprite.png) -2px -78px no-repeat;
    width: 38px;
    height: 38px;
    top: 22px;
    left: 18px;
}

#Stars-input input:checked ~ label,
#Stars-input label,
#Stars-input label:hover,
#Stars-input label:hover ~ label {
    background: url('../img/spritesheet (2).png') no-repeat;
    display: block;
}

#Stars-input {
    margin: 24px 0 0 24px;
    overflow: hidden;
    position: relative;
    float: left;
}

#Stars-input input {
    opacity: 0;
    position: absolute;
}

#Stars-input input:checked ~ label {
    width: 13px;
    height: 12px;
    background-position: -11px -11px;
}

#Stars-input label {
    background-position: -11px -11px;
    width: 13px;
    height: 12px;
    float: right;
    cursor: pointer;
    margin-right: 3px;
    position: relative;
    z-index: 1;
}

#Stars-input label:hover,
#Stars-input label:hover ~ label {
    width: 13px;
    height: 12px;
    background-position: -45px -11px;
}

.for-Windows {
    float: left;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 16px;
    margin-left: 6px;
    margin-top: 18px;
}

.posting-date {
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: 13px;
    float: right;
    margin: 21px 32px 0 0;
}

.Jonny-comment {
    margin: 0 0 0 0;
    padding: 58px 24px 19px 24px;
    font-family: HelveticaNeue;
    font-size: 15px;
    font-style: italic;
}

.arrow1 {
    margin: -6px 0 0 44px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 6px 12px;
    border-color: transparent transparent #fafafa transparent;
}

.bottom-com {
    vertical-align: bottom;
    border-radius: 0 0 3px 3px;
    width: 100%;
    padding-bottom: 3px;
    display: inline-block;
    background: #fafafa;
}

.Johny-Dillenger {
    padding: 19px 0 18px 80px;
    position: relative;
    float: left;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 12px;
}

.Johny-Dillenger:before {
    content: "";
    position: absolute;
    display: block;
    background: url(../img/Sprite.png) -48px -56px no-repeat;
    width: 38px;
    height: 38px;
    top: 9px;
    left: 26px;
}

.right-bottom-block {
    float: right;
    display: inline-block;
    padding: 13px 0 0 0;
}

.Question {
    float: left;
    font-family: Helvetica Neue;
    font-size: 14px;
    margin: 4px 20px 0 0;
}

.Yes25 {
    display: inline-block;
    float: left;
    border-left-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    font-family: Helvetica Neue;
    font-size: 14px;
    margin: 4px 19px 0 0px;
    padding-left: 20px;
}

.No14 {
    display: inline-block;
    float: left;
    border-left-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    font-family: Helvetica Neue;
    font-size: 14px;
    margin: 4px 19px 0 0;
    padding-left: 16px;
}

.YesOrNo {
    float: left;
    margin-left: 6px;
}

.YesNo-link {
    color: #4a86f8;
}

.votes-number-link {
    color: #abb0ba;
}

.votes-number {
    float: left;
    font-family: Helvetica Neue;
    font-size: 12px;
    margin: 2px 0 0 4px;
}

.comment-4 {
    opacity: 0.5;
}
