html {
    height: 100%;
}
body {
    height: 100%;
    background: url(../img/background.png) repeat;
}
/*Футер*/
.page-footer {
    border: 0;
    border-top: 3px solid transparent;
    -webkit-border-image: -webkit-linear-gradient(left, #fff 0%,#b3dced 15%,#20697c 50%,#bce0ee 85%,#fff 100%);
       -moz-border-image:    -moz-linear-gradient(left, #fff 0%,#b3dced 15%,#20697c 50%,#bce0ee 85%,#fff 100%);
         -o-border-image:      -o-linear-gradient(left, #fff 0%,#b3dced 15%,#20697c 50%,#bce0ee 85%,#fff 100%);
    border-image-slice: 1;
    background-color: #eff3f7;
        -ms-border-image:     -ms-linear-gradient(left, #fff 0%,#b3dced 15%,#20697c 50%,#bce0ee 85%,#fff 100%);
}
/* Градиент шапки для IE8*/
.no-cssgradients .page-footer {
    background: url(../img/header_line.png) top center no-repeat;
    background-color: #eff3f7;
}
.page-footer .container {
    position: relative;
    padding-top: 23px;
}
.page-footer .copyright {
    font-size: 13px;
    margin: 0 180px;
    padding-top: 7px;
    text-align: center;
    color: #4a545d;
}
/*Логин*/
.page-footer .lock {
    position: absolute;
    top: 26px;
    left: 20px;
}
.lock .lock-inner {
    font-size: 16px;
    line-height: 2.2;
    display: block;
    height: 40px;
    padding-left: 24px;
    text-decoration: none;
    color: #4a545d;
    background: url(../img/lock.png) no-repeat;
}
.lock .lock-inner:hover {
    text-decoration: underline;
    background: url(../img/lock_on.png) no-repeat;
}
/*Футер к низу*/
.wrapper {
    position: relative;
    min-width: 970px;
    height: auto!important;
    min-height: 100%;
}
.wrapper:after {
    display: block;
    height: 80px;
    content: '';
}
.page-footer {
    min-width: 970px;
    height: 80px;
}
/*Логин конец*/
/*Футер конец*/
/*Общие классы*/
.container {
    width: 960px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.container:before,
.clearfix:before,
.container:after,
.clearfix:after {
    display: table;
    content: ' ';
}
.container:after,
.clearfix:after {
    clear: both;
}
/*Изменяемый контент 4-й страницы*/
.login-wrapper{
    width: 590px;
    margin: 0 auto;
    margin-top: 10%;
    background-color: #eff3f7;
}
.writeme-header{
    background-color: #67dffa;
    padding-bottom: 15px;
    margin-bottom: 14px;

}
.writeme-title{
    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 38px;
    color: #fff;
    margin: 0;
    background-color: #48cbe8;
    padding: 19px 60px 14px 49px;
    text-align: center;
}
.login-content-wrapper{
    width: 420px;
    margin: 0 auto;
    padding-bottom: 21px;
}
.input-title{
    font-family: "Fira Sans";
    font-size: 36px;
    color: #959aa8;
    margin: 0 auto;
    margin: 0;
    text-align: center;
}
.input-place{
    margin-bottom: 14px;
}
.signin-input{
    font-family: "Fira Sans";
    font-size: 17px;
    color: #48cbe8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #48cbe8;
    width: 100%;
    padding: 18px 0px 15px 16px;
    margin-top: 0px;
}
::-webkit-input-placeholder {color: #48cbe8;}
    ::-moz-placeholder {color: #48cbe8;}/* Firefox 19+ */
    :-ms-input-placeholder {color: #48cbe8;}
    :-moz-placeholder {color: #48cbe8;}/* Firefox 18- */
    .signin-input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.5s ease;}
    .signin-input::-moz-placeholder                {opacity: 1; transition: opacity 0.5s ease;}
    .signin-input:-moz-placeholder                 {opacity: 1; transition: opacity 0.5s ease;}
    .signin-input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.5s ease;}
    .signin-input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}
    .signin-input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.5s ease;}
    .signin-input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.5s ease;}
    .signin-input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.5s ease;}

    .button{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #48cbe8;
    padding: 2px 21px;
    margin-bottom: 200px;
    margin-top: 5px;
    font-family: "Fira Sans";
    font-size: 19px;
    color: #fff;
    border: none;
    border-bottom: 2px solid #3ba8c0;
}    
.button:hover{
    background-color: #3ba8c0;
    border-bottom: 2px solid #787878;
}
.button:active{
    background-color: #849db5;
    border-bottom: 2px solid #787878;
}
.login-button{
    display: block;
    margin: auto;
    width: 225px;
    font-family: "Fira Sans";
    font-size: 35px;
    padding: 0;
    border-radius: 5px;
    margin-top: 36px;
}
